    p{
      font-size: 100%;
      font-style:italic;
      }

    .container{
      border: 5px solid green;
      width: 80%;
      margin: 5px auto;
    }

    body{
      font-family: arial, sans-serif;

    }
